@import url('https://fonts.googleapis.com/css2?family=Itim&family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header{
    background-color: green;
    height: 100vh;
    background-image: url("mariah\ betinho\ 1.png");
    background-repeat: no-repeat;
    background-size: 100% 110vh; //1º valor altura + 2º valor altura
    background-position: center; //centro
    display: flex;
    justify-content: center;

    h1{
        width: 70%;
        text-align: center;
        font-family: "Itim", cursive;
        font-size: 6rem;
        font-weight: 400;
        color: #9D0000;
        
    }
}

@media (min-width: 201px) and (max-width: 500px){
header{
    align-items: start;
    
h1{
    font-size: 2rem;
    color: rgb(255, 0, 0);
    background-color: rgba(11, 138, 49, 0.2);
    border-radius: 20px;
}

}
 
}  